/* font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style:normal; */
:root{
    --primary-color: black;
    --secondary-color: beige;
    --heading-font: "Playfair Display", serif;
    --default-font: "Playfair Display", serif;
    --branding-color: rgb(37, 124, 34);
}
nav{
    padding: 10px 0;
    
}
nav li {
    display: inline;
    list-style: none;
    line-height:40px;
    font-family: var(--heading-font);
    padding: 0 8px;
}
nav ul{
    padding:0;
}
nav a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15px;
    color: rgb(16, 53, 15);
    font-weight:700
}
nav a:hover, nav li.active a{
    color:var(--branding-color);
   
}

body{
    font-family: var(--defaul-font);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    font-weight: bold;
}

h1
{
    font-size: 80px;
}
h6{
    font-size: 30px;
}
.container h2{
    font-size: 30px;
    line-height: 40px;
    padding: 0;
    margin:0;
}

p{
    font-family: var(--heading-font);
    font-weight: normal;
    margin:0;
    font-size: larger;
}
.hero{
    background:var(--secondary-color);
    background-position: center;
    text-align: center;
    padding:160px 20px;
}
.hero p{
    font-family: var(--heading-font);
    font-size: 36px;
}
.hero h2{
    font-family: var(--heading-font);
    font-weight: normal;
    font-size: 40px;
}
.btn-branding{
    background-color: var(--primary-color);
    font-size:18px;
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: normal;
    border-radius: 5px;
}
.btn-branding:hover{
    background-color: white;
    color: var(--branding-color);
    transition: all 100ms ease-in-out;
}
.image{
    border-radius: 30px;
}
.image-background {
    background-color: var(--secondary-color);
    padding: 80px 10px;
  
}
.project-description{
    font-size: 20px;
    margin-top: 20px;
}
.content-container{
    padding :10px ;
}
.content-container h1{
    font-size: 55px;
    line-height: 80px;
    padding: 75px 10px;
}
.content-container p{
    font-size: 20px;
    font-family: var(--default-font);
}
.content-container h5{
    font-size: 30px;
    font-family: var(--default-font);
}
.project-caption{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 30px;
    /* margin-bottom: 20px; */

}
.project-built-with{
    font-size: medium;
    color: #5c5a5a;
    font-family:var(--default-font);
    font-size: medium;
    margin: 30px;
}
.backdrop{
    background-color: var(--secondary-color);
    padding: 10px 5px;
   
}
footer{
   margin: 60px;
}
footer .contact-box{
    background-color: var(--secondary-color);
    padding: 120px 30px;
    border-radius: 10px;

}
footer .contact-box p{
    margin:0;

}
footer p{
    font-size: 18px;
}
footer .email-link{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--heading-font);
    text-align: center;
}
footer .email-link:hover{
    color: var(--branding-color);
}
footer .social-links a{
    text-align: center;
    margin:0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding:5px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
}
footer .social-links a:hover{
    background-color: var(--branding-color);
    color: white;
    transition: all 100ms ease-in-out;
}
/* .content-containerc ontent{
  margin:15px; 
} */
@media (max-width: 900px) {
   h1{
    font-size: 60px;
   }
   h2{
    font-size:44px;
   }
   .hero{
    padding:80px 20px;

   }
   
   .content-container{
    text-align: center;
    padding: 0;
    
   }
   nav a{ 
    font-size: 15px;

   }
   h6{
    font-size: 18px;
   }
   .btn{
    font-size: 18px;
   }
   footer .contact-box{
    padding: 160px 30px;

   }
 
  
}  
@media (max-width: 600px) {
   
    .content-container h1{
        font-size: 50px;
        
        padding: 30px 10px;
    }
  
} 

